@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: auto 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}


.zone {
    color:#FFF;
    font-size:2em;
    transition: all 0.3s linear;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.newsletter{
    border-top: 1px solid #D1493D;
    border-bottom: 1px solid #D1493D;
}

.box:hover {
    -webkit-tra-o-transform: scale(1.05);
    -moz-tra-o-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}
/* NAV */
/* #902A47; */
.nav-container{
    background: #352126;
    font-size: 2em;
    border-bottom: 1px solid #D1493D;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.main-nav li {
    /* padding: 20px 40px; */
    height: 100%;
    text-align: center;
    list-style: none;
    transition: 0.3s;
}

.nav-container ul li a{
    font-size: 1em;
    padding: 20px 40px;
    text-transform: capitalize;
    color: #D1493D;
    text-decoration: none;
    font-weight: 300;
    color: #f5f5f6;
    display: block;
    transition: all 0.3s ease;
}

.nav-container ul li a:hover{
    color: #D1493D;
    padding: 20px 60px;
}

.active a{
    color: #D1493D !important;
    padding: 20px 60px !important;
}


a {
    color: #f5f5f6;
    text-decoration: none;
}

.push {
    display: flex;
    margin-left: auto;
}

.main-nav li:hover{
    background-color: #352126;
    }

/*COVER*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-image: url(/img/Main\ Banner\ Background.jpg);
    background-color: #352126;
    background-repeat: no-repeat;
    background-size: cover;
}

.spacer{
    height: 50px;
    border: none;
}
/* Cart */
.wrapper{
    background-color:#352126;
    color: white
}

.cart{
    padding-top: 50px;
    overflow-x: auto;
    border-top: 1px solid #D1493D;
}

.cart::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
    transition: all 0.5s ease;
  }
  
  .cart::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
    transition: all 0.5s ease;
  }
  
  .cart::-webkit-scrollbar-thumb {
    background-color: #444;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid #D1493D;  /* creates padding around scroll thumb */;
    transition: all 0.5s ease;
  }

  .cart::-webkit-scrollbar-thumb:hover {
    background-color: #D1493D;    /* color of the scroll thumb */
    border: 1px solid white;
  }

.cart-wrapper {
    margin: auto 5%;
    max-height: 60em;
    min-width: 1200px;
}

.cart-body table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

.cart-body table thead{
    border: 1px solid #D1493D;
    border-left: none;
    border-right: none;
}

.cart-body table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 18px, 0;
}

.cart-body table tbody tr td{
    padding-top: 15px;
}

.cart-body table tbody td{
    font-size: 2em;
}

.cart-body table img{
    width: 200px
}

.cart-body table td:nth-child(1){
    width: 100px;
    text-align: center;
}

.cart-body table td:nth-child(2){
    width: 150px;
    text-align: center;
}

.cart-body table td:nth-child(3){
    width: 250px;
    text-align: center;
}

.cart-body table td:nth-child(4), .cart-body table td:nth-child(5), .cart-body table td:nth-child(6){
    width: 150px;
    text-align: center;
}

.cap{
    cursor: pointer;
    font-size: 2em;
    border: solid 2px black;
}
.cap:hover{
    color: #D1493D;
    /* border: solid 2px #D1493D; */
}

/* Transaction */

.transaction{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid #D1493D;
    /* gap: 10%; */
    padding: 10% 10% 5%;
}

.coupon{
    width: 50%;
    margin-bottom: 30px;
}

.coupon h3, .checkout h3{
    padding-bottom: 15px;
}

.coupon input{
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid;
}

.coupon button, .checkout button{
    background-color: black;
    color: #f5f5f6;
    padding: 12px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.coupon button:hover, .checkout button:hover{
    background-color: #f5f5f6;
    color: black;
    padding: 12px 20px;
}

.checkout{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid;
    padding: 30px;
}

.checkout table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.checkout table td{
    border: 1px solid;
    width: 50%;
    padding: 10px;
    font-size: 13px;    
}



/*Images*/
.box > img {
    width: 100%;
}

.box {
    background-color: #444;
    padding: 130px;
    margin: 20px;
    cursor: pointer;
}

/* Checkout */
.checkout-table{
    padding-bottom: 20px;
}

.checkout-table tr{
    height: 30px;
    padding-bottom: 10px;
}

.checkout-table td{
    /* height: 30px; */
    padding: 0px 15px 0 0;
}

/* footer */
.details-container{
max-width: 1170px;
/* background-color: red; */
margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
    padding-inline-start: 0;
}

.footer {
    background-color: black;
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #444;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position:relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #902A47;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 20px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #D1493D;
    text-decoration: none;
    font-weight: 300;
    color: #f5f5f6;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #D1493D;
    padding-left: 8px;
}

.footer-col .socials a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #f5f5f6;
    transition: all 0.5s ease;
}

.footer-col .socials a:hover{
    color: #D1493D;
    background-color: #444;
}

.bottom-pad{
    height: 100px;
    /* background-color: gray; */
}

@media(max-width: 767px){
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px){
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
}

/* Newsletter */
.newsletter {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 4rem;
    background-color: #352126;
    /* background-image: url(img/newsletter\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

.newsletter-banner-wrapper {
    display: flex;
}

.newsletter h3 {
    margin: auto;
}

.letter-header {
    padding: 1.6rem;
    display: flex;

}

.newsletter-form {
    display: flex;
    gap: 0.8rem;
    padding: 1.6rem;
}

.newsletter-input {
    align-items: center;
}

form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    /* margin-top: 20px;
    margin-bottom: 40px; */
    outline: none;
    border: none;
}
form button {
    border: 2px solid;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}
form button:hover {
    background: #D1493D;
    color: white;
}


/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.zero{
    background: #902A47; /* Old browsers */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.one{
    background: #352126; /* Old browsers */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.two{
    background: #D1493D; /* Old browsers */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.three{
    background: #902A47; /* Old browsers */
}

/* Colors: 
Red1: 352126
Red2: 902A47
Red3: D1493D
White1: E7D4AF
White2: C5B2AA */