body {
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
}


.zone {
    /* padding:30px 50px;
    margin:40px 60px; */
    cursor:pointer;
    /* display:inline-block; */
    color:#FFF;
    font-size:2em;
    /* border-radius:4px;
    border:1px solid #bbb; */
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.box:hover {
    -webkit-tra-o-transform: scale(1.1);
    -moz-tra-o-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

/*NAV*/
/* .sticky {
    position: fixed;
    top: 0;
    width: 100%;
} */

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    padding-bottom: 10px;
    /* position: fixed; */
    /* top:0; */
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

li {
    padding: 20px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.push {
    margin-left: auto;
}

/*GRID*/
.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    transition: 0.8s;
}

/*Images*/
.box > img {
    width: 100%;
}

.box {
    background-color: #444;
    padding: 130px;
    margin: 20px;
}

/* footer */
footer {
    text-align: center;
}

.footer {
    box-sizing: border-box;
    width: 100%;
    /* padding: 100px 15%; */
    display: flex;
    justify-content: center;
    /* height: 20vh; */
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5.6rem;
}

.footer div {
    text-align: center;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}

.footer-column-social{
    text-align: center;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 1px;
}

.socials {
    margin-top: auto;
}

.socials i {
    font-size: 22px;
    margin: auto;
    cursor: pointer;
}

/* Newsletter */
.newsletter {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 4.8rem;
    background-color: #352126;
}

.newsletter-banner-wrapper {
 display: flex;
}

.newsletter h3 {
    margin: auto;
}

.letter-header {
    padding: 1.6rem;
    display: flex;

}

.newsletter-form {
    display: flex;
    gap: 0.8rem;
    padding: 1.6rem;
}

.newsletter-input {
    align-items: center;
}

form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button {
    border: 2px solid;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}


/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.zero{
    background: #902A47; /* Old browsers */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.one{
    background: #352126; /* Old browsers */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.two{
    background: #D1493D; /* Old browsers */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.three{
    background: #902A47; /* Old browsers */
}

/* Colors: 
Red1: 352126
Red2: 902A47
Red3: D1493D
White1: E7D4AF
White2: C5B2AA */