*{
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
}


.bundle {
    display: flex;
    justify-content: space-between;
}

.small{
    flex-basis: 24%;
    cursor: pointer;
}

.hide {
    display: none;
}

.images{
    max-height: 50%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
}

.zone {
    color:#FFF;
    font-size:2em;
    transition: all 0.3s linear;
}

/* .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */

.box:hover {
    -webkit-tra-o-transform: scale(1.1);
    -moz-tra-o-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.main-nav > li {
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    text-align: center;
    list-style: none;
    transition: 0.3s;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.push {
    margin-left: auto;
}

.main-nav > li:hover{
    background-color: #352126;
    }

/*COVER*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.cover {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    background-image: url(img/Main\ Banner\ Background.jpg);
    background-color: #352126;
    background-repeat: no-repeat;
    background-size: cover;
}

.product-container {
padding: 5% 5%;
}

.product {
    display: flex;
    padding-top: 5px;
    margin-top: 5px;
    gap: 3rem;
}


.big-image {
    align-self: center;
}

.bundle {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

.images img{
flex-basis: 24%;
width: 100%;
height: 100%;
border: 5px outset;
}

.description > *{
    padding-top: 50px;
}

.description input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

.description input:focus {
    outline: none;
}

.buy-btn {
    width: auto;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    background-color: brown;
    border: none;
    cursor: pointer;
}

.bundle-btn {
    width: auto;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
    background-color: brown;
    border: none;
    cursor: pointer;
}

/*GRID*/
.grid-wrapper {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.grid-wrapper::-webkit-scrollbar {
    width: 4px;               /* width of the entire scrollbar */
  }
  
  .grid-wrapper::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
  }
  
  .grid-wrapper::-webkit-scrollbar-thumb {
    background-color: orange;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid orange;  /* creates padding around scroll thumb */
  }

/*Images*/
.box > img {
    width: 100%;
}

.box {
    background-color: #444;
    /* padding: 130px; */
    min-width: 300px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    border: 5px outset;
}

/* footer */
.details-container{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
    }
    
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    
    ul{
        list-style: none;
        padding-inline-start: 0;
    }
    
    .footer {
        background-color: black;
        padding: 70px 0;
    }
    
    .footer-col{
        width: 25%;
        padding: 0 15px;
    }
    
    .footer-col h4{
        font-size: 18px;
        color: #444;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position:relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #902A47;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col ul li:not(:last-child){
        margin-bottom: 20px;
    }
    
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #D1493D;
        text-decoration: none;
        font-weight: 300;
        color: #f5f5f6;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #D1493D;
        padding-left: 8px;
    }
    
    .footer-col .socials a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #f5f5f6;
        transition: all 0.5s ease;
    }
    
    .footer-col .socials a:hover{
        color: #D1493D;
        background-color: #444;
    }
    
    .bottom-pad{
        height: 100px;
        /* background-color: gray; */
    }
    
    @media(max-width: 767px){
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
    }
    
    @media(max-width: 574px){
        .footer-col {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    
    /* Newsletter */
    .newsletter {
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 4rem;
        background-color: #352126;
        /* background-image: url(img/newsletter\ background.jpg);
        background-repeat: no-repeat;
        background-size: cover; */
    }
    
    .newsletter-banner-wrapper {
     display: flex;
    }
    
    .newsletter h3 {
        margin: auto;
    }
    
    .letter-header {
        padding: 1.6rem;
        display: flex;
    
    }
    
    .newsletter-form {
        display: flex;
        gap: 0.8rem;
        padding: 1.6rem;
    }
    
    .newsletter-input {
        align-items: center;
    }
    
    form input {
        width: 400px;
        height: 45px;
        border-radius: 4px;
        text-align: center;
        /* margin-top: 20px;
        margin-bottom: 40px; */
        outline: none;
        border: none;
    }
    form button {
        border: 2px solid;
        border-radius: 30px;
        padding: 10px 30px;
        font-size: 15px;
        cursor: pointer;
    }

.zero{
    background: #902A47; /* Old browsers */
}

.one{
    background: #352126; /* Old browsers */
}

.two{
    background: #D1493D; /* Old browsers */
}

.three{
    background: #902A47; /* Old browsers */
}

/* Colors: 
Red1: 352126
Red2: 902A47
Red3: D1493D
White1: E7D4AF
White2: C5B2AA */