@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: auto 0;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

/*NAV*/

.nav-container{
    background: #902A47;
    font-size:2em;
}

.sticky{
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

.main-nav li {
    /* padding: 20px 40px; */
    height: 100%;
    text-align: center;
    list-style: none;
    transition: 0.3s;
}

.nav-container ul li a{
    font-size: 1em;
    padding: 20px 40px;
    text-transform: capitalize;
    color: #D1493D;
    text-decoration: none;
    font-weight: 300;
    color: #f5f5f6;
    display: block;
    transition: all 0.3s ease;
}

.nav-container ul li a:hover{
    color: #D1493D;
    padding: 20px 60px;
}

.active a{
    color: #D1493D !important;
    padding: 20px 60px !important;
}


a {
    color: #f5f5f6;
    text-decoration: none;
}

.push {
    display: flex;
    margin-left: auto;
}

.main-nav li:hover{
    background-color: #352126;
    }


.wrapper {
    min-height: 100vh;
    display: flex;
}

.main {
    /* overflow: hidden; */
    flex-grow: 1;
}

.panel {
    height: auto;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.filters {
    border-bottom: 0.1rem solid;
    box-sizing: border-box;
    position: sticky;
    width: 100%;
    height: 10%;
    flex-grow: 1;
    padding: 20px;
}

.filter-panel-container {
    height: 100%;
}

.filter-panel-toggle {
    /* width: 40px; */
    /* height: 40px; */
    /* flex-shrink: 0; */
    display: flex;
    gap: 10px;
    place-items: center;

    color: #352126;
    /* background-color: #444; */
    border: none;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s ease;
}

#reset{
    border-radius: 5px;
    color: #352126;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease;
}

#reset:hover {
    background: #D1493D;
    color: white;
}


/* #reset{
    border-radius: 5px 5px 5px 5px;
    color: #352126;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.filter-panel-toggle:hover, #reset:hover{
    background: #902A47;
    color: white;
} */

.filter-panel {
    display: none;
    box-sizing: border-box;
    /* width: 200px; */
    height: 100%;
    flex-shrink: 0;
    float: left;
    /* z-index: 1; */
    padding: 20px 35px;
    color: #D1493D;
    background: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    /* padding: 4.8rem 2.4rem 1.6rem; */
}

/* Filters */
.filter-options-container{
    background-color: #352126;
    min-height: 70px;
    position: relative;
}

.search-sort-container{
    height:60%;
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

.reset-container{
    height: 100%;
}

#reset{
    height: 100%;
}

#sorting{
    height: 100%;
}

#search{
    height: 100%;
    width: 100%;
    margin-left: 10px;
}

.input, .range {
    width: 100%;
    box-sizing: border-box;
}


.range-input {
    padding: 20px 0;
    /* background: #fcfcfc; */
    border-radius: 20px;
    display: flex;
    align-items: center;
}
    
.range-input p {
    font-size: 26px;
    font-weight: 600;
    font-family: Open Sans;
    padding-left: 30px;
    color: black;
}

.range-input input[type="range"] {
    -webkit-appearance: none !important;
    height: 2px;
    background: black;
    border: none;
    outline: none;
}

.range-input input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    width: 25px;
    height:25px;
    background: white;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.range-input input[type="range"]::-webkit-slider-thumb:hover {
    background: #D1493D;
} 
   

.width-filter, .height-filter, .price-filter, .style-filter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0, 2px;
    padding-top: 30px;
}

.cost, .height, .width, .style {
    font-size: 1.4rem;
}

.filter-label{
    text-align: center;
}

.style-options > div{
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
}


.style-filter label{
    margin-left: 10px;
}

.bundle{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 15px;
}

/* Filter Options */
.filter-panel{
    transition: all 0.3s ease;
}

.panel-open .filter-panel{
    display: initial;
}

.open-icon{
    font-size: 2em;
}

.panel-open .close-icon{
    display: initial !important;
}

.panel-open .open-icon {
    display: none !important;
}

.panel-open .open-text {
    /* visibility: hidden !important; */
    display: none !important;
}

.close-icon {
    display: none !important;
    font-size: 2em;
}

.filter-toggle {
    height: 100%;
    display: flex;
}

.filter-toggle button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.5s ease;
}

.filter-toggle button:hover {
    background: #D1493D;
    color: white;
}


.filter-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.search-container {
    min-width: 300px;
}

.search-container input[type="text"] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

.search-container{
    min-width: 300px
}

.sortby select {
    font-size: 16px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    margin-right: 10px;
}


.style-options {
    display: flex;
    flex-direction: column;
}

/* .fade {
    animation-name: slide;
    animation-duration: 1.5s;
  }
  
  @keyframes slide {
    100% {left: 0}
  } */

/*GRID*/
.items {
    height: 90%;
    background-color: darkslategray;
}

.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    transition: 0.8s;
    height: 100%;
}


/*Images*/
.box > img {
    width: 100%;
    cursor: pointer;
}

.image-container > img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
}

.box {
    background-color: #444;
    /* padding: 130px; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    margin: 20px;
    /* cursor: pointer; */
}

.image-container{
    width: 100%;
    flex: 1;
}

/* Interact Panel */
.caption {
    background-color: #352126;
    display: flex;
    width: 100%;
    /* padding: 5px; */
    /* box-sizing: border-box; */
}

.details {
    width: 70%;
    padding: 15px;
    box-sizing: border-box;
    /* text-align: center; */
}

.details > *{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.interact {
    display: flex;
    margin: 0 auto;
    /* margin: auto; */
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    padding-bottom: 20px;
}

.title, .size, .price{
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 10px;
}

/* .title{
    margin-bottom: 10px;
} */

.size, .price{
    font-weight: 100;
}

.cap {
font-size: 0.75em;
}


.like-btn, .cart-btn{
    background: transparent;
    border: none;
    /* height: 0.75em; */
    outline: none;
    font-size: 1em;
    cursor: pointer;
    transition: all 0.7s ease;
}

.cart-btn:hover{
    color: #D1493D;
}

.like-btn:hover{
    color: #902A47;
}

.liked > .cap{
    color: #902A47;
}


.zone {
    /* padding:30px 50px;
    margin:40px 60px; */
    /* cursor:pointer; */
    /* display:inline-block; */
    color:#FFF;
    font-size:2em;
    /* border-radius:4px;
    border:1px solid #bbb; */
    transition: all 0.3s linear;
}

/* .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */

.box:hover {
    -webkit-tra-o-transform: scale(1.05);
    -moz-tra-o-transform: scale(1.05);  
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

/* footer */
.details-container{
    max-width: 1170px;
    /* background-color: red; */
    margin: auto;
    }
    
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    
    ul{
        list-style: none;
        padding-inline-start: 0;
    }
    
    .footer {
        background-color: black;
        padding: 70px 0;
    }
    
    .footer-col{
        width: 25%;
        padding: 0 15px;
    }
    
    .footer-col h4{
        font-size: 18px;
        color: #444;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position:relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: #902A47;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    
    .footer-col ul li:not(:last-child){
        margin-bottom: 20px;
    }
    
    .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #D1493D;
        text-decoration: none;
        font-weight: 300;
        color: #f5f5f6;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #D1493D;
        padding-left: 8px;
    }
    
    .footer-col .socials a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #f5f5f6;
        transition: all 0.5s ease;
    }
    
    .footer-col .socials a:hover{
        color: #D1493D;
        background-color: #444;
    }
    
    .bottom-pad{
        height: 100px;
        /* background-color: gray; */
    }
    
    @media(max-width: 767px){
        .footer-col {
            width: 50%;
            margin-bottom: 30px;
        }
    }
    
    @media(max-width: 574px){
        .footer-col {
            width: 100%;
            margin-bottom: 30px;
        }
    }
    
    /* Newsletter */
    .newsletter {
        margin: auto;
        display: flex;
        justify-content: center;
        padding: 4rem;
        background-color: #352126;
        /* background-image: url(img/newsletter\ background.jpg);
        background-repeat: no-repeat;
        background-size: cover; */
    }
    
    .newsletter-banner-wrapper {
     display: flex;
    }
    
    .newsletter h3 {
        margin: auto;
    }
    
    .letter-header {
        padding: 1.6rem;
        display: flex;
    
    }
    
    .newsletter-form {
        display: flex;
        gap: 0.8rem;
        padding: 1.6rem;
    }
    
    .newsletter-input {
        align-items: center;
    }
    
    form input {
        width: 400px;
        height: 45px;
        border-radius: 4px;
        text-align: center;
        /* margin-top: 20px;
        margin-bottom: 40px; */
        outline: none;
        border: none;
    }
    form button {
        border: 2px solid;
        border-radius: 30px;
        padding: 10px 30px;
        font-size: 15px;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    form button:hover {
        background: #D1493D;
        color: white;
    }
    

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.zero{
    background: #902A47; /* Old browsers */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.one{
    background: #352126; /* Old browsers */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.two{
    background: #D1493D; /* Old browsers */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.three{
    background: #902A47; /* Old browsers */
}

/* Colors: 
Red1: 352126
Red2: 902A47
Red3: D1493D
White1: E7D4AF
White2: C5B2AA */