body {
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.wrapper {
    min-height: 100vh;
    display: flex;
}

.main {
    /* overflow: hidden; */
    flex-grow: 1;
}

.panel {
    height: auto;
}


.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: auto 0;
    overflow: hidden;
}

.filters {
    border-bottom: 0.1rem solid;
    box-sizing: border-box;
    position: sticky;
    width: 100%;
    height: 10%;
    flex-grow: 1;
    padding: 20px;
}

.filter-panel-container {
    height: 100%;
}

.filter-panel-toggle {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    display: grid;
    place-items: center;

    color: #352126;
    background-color: #444;
    border: none;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.filter-panel-toggle:hover {
    background: #902A47;
}

.filter-panel {
    display: none;
    box-sizing: border-box;
    /* width: 200px; */
    height: 100%;
    flex-shrink: 0;
    float: left;
    /* z-index: 1; */
    padding: 20px;
    color: #D1493D;
    background: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    transition: 0.5s;
    /* padding: 4.8rem 2.4rem 1.6rem; */
}

/* Filters */
.input, .range {
    width: 100%;
    box-sizing: border-box;
}

.width-filter, .height-filter, .price-filter{
    border: 0, 2px;
}

/* Filter Options */

.panel-open .filter-panel{
    display: initial;
}

.panel-open .close-icon{
    display: initial !important;
}

.panel-open .open-icon {
    display: none !important;
}

.close-icon {
    display: none !important;
}

.filter-toggle {
    height: 100%;
}

.filter-options {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
}

.style-options {
    display: flex;
    flex-direction: column;
}


/*GRID*/
.items {
    height: 90%;
}

.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    transition: 0.8s;
    height: 100%;
}


/*Images*/
.box > img {
    width: 100%;
    cursor: pointer;
}

.image-container > img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: contain;
}

.box {
    background-color: #444;
    /* padding: 130px; */
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    margin: 20px;
    /* cursor: pointer; */
}

.image-container{
    width: 100%;
    flex: 1;
}

/* Interact Panel */
.caption {
    background-color: #352126;
    display: flex;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.details {
    width: 70%;
}

.interact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title, .size, .price{
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
}

.cap {
font-size: 0.75em;
}

.like-btn, .cart-btn{
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    cursor: pointer;
}

.cart-btn:hover{
    color: greenyellow;
}

.like-btn:hover{
    color: #902A47;
}

.liked > .cap{
    color: #902A47;
}


.zone {
    /* padding:30px 50px;
    margin:40px 60px; */
    /* cursor:pointer; */
    /* display:inline-block; */
    color:#FFF;
    font-size:2em;
    /* border-radius:4px;
    border:1px solid #bbb; */
    transition: all 0.3s linear;
}

/* .zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */

.box:hover {
    -webkit-tra-o-transform: scale(1.1);
    -moz-tra-o-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

/*NAV*/

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    min-height: 2.4rem;
    /* padding-bottom: 10px; */
    /* position: fixed; */
    /* top:0; */
}

@media only screen and (max-width: 600px) {
    .main-nav {
        font-size: 0.5em;
        padding: 0;
    }
}

li {
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    list-style: none;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.push {
    margin-left: auto;
}

.main-nav > li:hover{
background-color: #352126;
}

/* footer */
footer {
    text-align: center;
}

.footer {
    box-sizing: border-box;
    width: 100%;
    /* padding: 100px 15%; */
    display: flex;
    justify-content: center;
    /* height: 20vh; */
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 5.6rem;
}

.footer div {
    text-align: center;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
}

/* .footer-column ul{
    display: block;
} */

.column-header {
    cursor: pointer;
}

.footer-column-social{
    text-align: center;
}

.footer div h3 {
    font-weight: 300;
    margin-bottom: 1px;
}

.socials {
    margin-top: auto;
}

.socials i {
    font-size: 22px;
    margin: auto;
    cursor: pointer;
}

/* Newsletter */
.newsletter {
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 4.8rem;
    background-color: #352126;
}

.newsletter-banner-wrapper {
 display: flex;
}

.newsletter h3 {
    margin: auto;
}

.letter-header {
    padding: 1.6rem;
    display: flex;

}

.newsletter-form {
    display: flex;
    gap: 0.8rem;
    padding: 1.6rem;
}

.newsletter-input {
    align-items: center;
}

form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    /* margin-top: 20px;
    margin-bottom: 40px; */
    outline: none;
    border: none;
}
form button {
    border: 2px solid;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}


/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.zero{
    background: #902A47; /* Old browsers */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.one{
    background: #352126; /* Old browsers */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.two{
    background: #D1493D; /* Old browsers */
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.three{
    background: #902A47; /* Old browsers */
}

/* Colors: 
Red1: 352126
Red2: 902A47
Red3: D1493D
White1: E7D4AF
White2: C5B2AA */